@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root{
    --text-color: #000000;
    --main-color: #83b735;
}

section{
    padding:50px 10%;
}

header{
    position:fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index:1000;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:18px 100px;
    background: #edecea;
}

.logo{
    font-size:1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span{
    color: var(--main-color);
}

.navbar{
    position:relative;
    display:flex;
}

.navbar a{
    font-size:1rem;
    padding:10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size:2rem;
    cursor:pointer;
    display:none;
}

.home{
    width:100%;
    min-height: 100vh;
    background-image:url("bg_img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display:flex;
    align-items:center;
}

.home-text h1{
    font-size: 2.7rem;
}

.home-text p{
    font-size: 0.938rem;
    margin:0.4rem 0 1.8rem;
}

.home-text span{
    color: var(--main-color);
}

.btn{
    padding:10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size:14px;
}

.btn:hover{
    background: #8fc53d;
}

@media (max-width: 991px){
    header{
        padding:18px 4%;
    }
    section{
        padding: 50px 4%;
    }
}

@media (max-width:881px){
    .home-text h1{
        font-size:2rem;
    }
}

@media (max-width:768px){
    header{
        padding:11px 4%;
    }
    #menu-icon{
        display:initial;
    }
    header .navbar{
        position:absolute;
        top:-500px;
        left:0;
        right:0;
        display:flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition:0.2s ease;
        text-align: center;
    }
    .navbar a{
        padding:1.5rem;
        display:block;
    }
    .navbar.active{
        top:100%;
    }
    .navbar a:hover{
        color:#fff;
        background: var(--main-color);
    }
}

@media (max-width:491px){
    .home-text h1{
        font-size:1.7rem;
    }
}